@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Art Gallery
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
                    <a href="GalleryObject.html"> Gallery</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<section class="blog-posts-area section-gap">
    <div class="container">
        <div class="row">
            <div class="post-list blog-post-list">

                <h2>Manage your account</h2>

                <div>
                    <h4>Change your account settings</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            @await Html.PartialAsync("_ManageNav")
                        </div>
                        <div class="col-md-9">
                            @RenderBody()
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
