@model Museum.App.ViewModels.Filter.FilterViewModel
@{
    ViewData["Title"] = "Filter Page";
}

<!-- start banner Area -->
<section class="banner-area relative" id="home2">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Blog Home
                </h1>
                <p class="text-white link-nav"><a href="/Home">Home </a> <span class="lnr lnr-arrow-right"></span>
                    <a href="blog-home.html"> Blog Home</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start blog-posts Area -->
<section class="blog-posts-area section-gap pt-4">
    <div class="container-fluid p-0 col-11">
        <div class="row">
            <div class="col-lg-9 post-list blog-post-list container">
                <section class="exibition-area section-gap pt-4 pb-4" id="exhibitions">
                    <div class="container-fluid p-0 col-11">
                        <div class="title text-left">
                            <h1 class="mb-10">Acient Egypt</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                        <div class="pb-30">
                            <div class="row">
                                <div class="active-exibition-carusel">
                                    <div class="single-exibition item">
                                        <img src="img/e1.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                    <div class="single-exibition item">
                                        <img src="img/e2.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                    <div class="single-exibition item">
                                        <img src="img/e3.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                    <div class="single-exibition item">
                                        <img src="img/e1.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                    <div class="single-exibition item">
                                        <img src="img/e2.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                    <div class="single-exibition item">
                                        <img src="img/e3.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                    <div class="single-exibition item">
                                        <img src="img/e1.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                    <div class="single-exibition item">
                                        <img class="img-fluid" src="img/e2.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                    <div class="single-exibition item">
                                        <img class="img-fluid" src="img/e3.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="title text-left">
                            <h1 class="mb-10">Greek</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                        <div class="pb-30">
                            <div class="row">
                                <div class="active-exibition-carusel">
                                    <div class="single-exibition item">
                                        <img src="img/e1.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>

                                    <div class="single-exibition item">
                                        <img src="img/e2.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>

                                    <div class="single-exibition item">
                                        <img src="img/e3.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                    <div class="single-exibition item">
                                        <img src="img/e1.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>

                                    <div class="single-exibition item">
                                        <img src="img/e2.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>

                                    <div class="single-exibition item">
                                        <img src="img/e3.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                    <div class="single-exibition item">
                                        <img src="img/e1.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>

                                    <div class="single-exibition item">
                                        <img class="img-fluid" src="img/e2.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>

                                    <div class="single-exibition item">
                                        <img class="img-fluid" src="img/e3.jpg" alt="">
                                        <ul class="tags">
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Life style</a></li>
                                        </ul>
                                        <a href="#"><h4>Portable latest blog for women</h4></a>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec teturadip isicing elit, sed do eiusmod
                                            tempor.
                                        </p>
                                        <h6 class="date">31st January, 2018</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 sidebar">
                <div class="single-widget search-widget">
                    <form class="example" action="#" style="margin:auto;max-width:300px">
                        <input type="text" placeholder="Search Posts" name="search2">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="single-widget category-widget">
                    <div class="single-element-widget">
                        <h3 class="mb-10">Department</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>01. Sample Checkbox (12141)</p>
                            <div class="confirm-checkbox">
                                <input type="checkbox" id="category-checkbox-1">
                                <label for="default-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>02. Primary Color Checkbox (4124)</p>
                            <div class="confirm-checkbox">
                                <input type="checkbox" id="category-checkbox-2">
                                <label for="primary-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>03. Confirm Color Checkbox (414)</p>
                            <div class="confirm-checkbox">
                                <input type="checkbox" id="category-checkbox-3">
                                <label for="confirm-checkbox"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-widget category-widget">
                    <div class="single-element-widget">
                        <h3 class="mb-10">Category</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>01. Sample Checkbox (12141)</p>
                            <div class="confirm-checkbox">
                                <input type="checkbox" id="default-checkbox">
                                <label for="default-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>02. Primary Color Checkbox (4124)</p>
                            <div class="confirm-checkbox">
                                <input type="checkbox" id="primary-checkbox">
                                <label for="primary-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>03. Confirm Color Checkbox (414)</p>
                            <div class="confirm-checkbox">
                                <input type="checkbox" id="confirm-checkbox">
                                <label for="confirm-checkbox"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-widget category-widget">
                    <div class="single-element-widget">
                        <h3 class="mb-10">Artist</h3>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>01. Sample Checkbox (12141)</p>
                            <div class="confirm-checkbox">
                                <input type="checkbox" id="artist-checkbox-1">
                                <label for="default-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>02. Primary Color Checkbox (4124)</p>
                            <div class="confirm-checkbox">
                                <input type="checkbox" id="artist-checkbox-2">
                                <label for="primary-checkbox"></label>
                            </div>
                        </div>
                        <div class="switch-wrap d-flex justify-content-between">
                            <p>03. Confirm Color Checkbox (414)</p>
                            <div class="confirm-checkbox">
                                <input type="checkbox" id="artist-checkbox-3">
                                <label for="confirm-checkbox"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-widget recent-posts-widget">
                    <h4 class="title">Recent Posts</h4>
                    <div class="blog-list ">
                        <div class="single-recent-post d-flex flex-row">
                            <div class="recent-thumb">
                                <img class="img-fluid" src="img/blog/r1.jpg" alt="">
                            </div>
                            <div class="recent-details">
                                <a href="blog-single.html">
                                    <h4>
                                        Home Audio Recording
                                        For Everyone
                                    </h4>
                                </a>
                                <p>
                                    02 hours ago
                                </p>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex flex-row">
                            <div class="recent-thumb">
                                <img class="img-fluid" src="img/blog/r2.jpg" alt="">
                            </div>
                            <div class="recent-details">
                                <a href="blog-single.html">
                                    <h4>
                                        Home Audio Recording
                                        For Everyone
                                    </h4>
                                </a>
                                <p>
                                    02 hours ago
                                </p>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex flex-row">
                            <div class="recent-thumb">
                                <img class="img-fluid" src="img/blog/r3.jpg" alt="">
                            </div>
                            <div class="recent-details">
                                <a href="blog-single.html">
                                    <h4>
                                        Home Audio Recording
                                        For Everyone
                                    </h4>
                                </a>
                                <p>
                                    02 hours ago
                                </p>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex flex-row">
                            <div class="recent-thumb">
                                <img class="img-fluid" src="img/blog/r4.jpg" alt="">
                            </div>
                            <div class="recent-details">
                                <a href="blog-single.html">
                                    <h4>
                                        Home Audio Recording
                                        For Everyone
                                    </h4>
                                </a>
                                <p>
                                    02 hours ago
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-widget tags-widget">
                    <h4 class="title">Tag Clouds</h4>
                    <ul>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Techlology</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Architecture</a></li>
                        <li><a href="#">Food</a></li>
                        <li><a href="#">Technology</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End blog-posts Area -->