@model Museum.Models.TemplateModels.DefinitionModel

<div class="section-top-border">
    <h3 class="mb-30">@Model.Title</h3>
    <div class="row">
        @foreach (var i in Model.DefinitionItem)
        {
        <div class="col-md-4">
            <div class="single-defination">
                <h4 class="mb-20"> @i.Title </h4>
                <p> @i.Content </p>
            </div>
        </div>
        }
    </div>
</div>